streamlit==1.64.0
pandas==2.2.3
numpy==1.26.4
plotly==6.1.2
joblib==1.4.2
scikit-learn==1.8.0
scipy==1.15.2
tensorflow==2.20.0
tensorflow-probability==0.25.0
tf-keras==2.20.1
gpflow==2.10.0
setuptools==80.9.0
openpyxl==3.1.5
